**Email address: hasanmehedi63395@gmail.com**

In [ ]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

### **Answer to the Q1**

In [ ]:
ages = DF["age"].to_numpy()
salaries = DF["salary"].to_numpy()
print("Ages:", ages)
print("Salaries:", salaries)
print('--------')
print(ages.dtype)
print(ages.ndim)
print(ages.shape)
print(ages.size)
print('--------')
print(salaries.dtype)
print(salaries.ndim)
print(salaries.shape)
print(salaries.size)

Ages: [56 46 32 25 38 56 36 40 28 28]
Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
--------
int64
1
(10,)
10
--------
int64
1
(10,)
10

### **Answer to the Q2**

In [ ]:
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)
avg_salary = np.mean(salaries)
avg_age = np.mean(ages)

print("Highest Salary:", highest_salary)
print("Lowest Salary:", lowest_salary)
print("Average Salary:", avg_salary)
print("Average Age:", avg_age)

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

### **Answer to the Q3**

In [ ]:
ages_over_30 = ages[ages > 30]
count_over_30 = np.sum(ages > 30)

print("Ages greater than 30:", ages_over_30)
print("Number of employees older than 30:", count_over_30)

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

### **Answer to the Q4**

In [ ]:
increased_ages = ages + 5
print("Updated Ages:", increased_ages)

Updated Ages: [61 51 37 30 43 61 41 45 33 33]

### **Answer to the Q5**

In [ ]:
total_salary = np.sum(salaries)
differance_max_min = np.ptp(salaries)

print("Total Salary Expense:", total_salary)
print("Difference between Max and Min Salary:", differance_max_min)

Total Salary Expense: 574469
Difference between Max and Min Salary: 58966

## **Answer to the Q6**

In [ ]:
df = pd.read_csv('employees.csv')

print(df.head())
print('---------------------------------')
df.info()
print('---------------------------------')
print(df.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
---------------------------------
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## **Answer to the Q7**

In [ ]:
#Display only the id, age, and salary columns.
print(df[['id', 'age', 'salary']])
print()
#Then show the last 3 rows using tail().
print(df[['id', 'age', 'salary']].tail(3))

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

### **Answer to the Q8**

In [ ]:
df = pd.read_csv('employees.csv')

it = df[df['dept'] == 'IT']
print(it)

total_it = len(it)
print("Total number of IT employees:", total_it)

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
Total number of IT employees: 3

### **Answer to the Q9**

In [ ]:
highest_paid = df.sort_values(by='salary', ascending=False).head(3)
print(highest_paid[['id', 'dept', 'age', 'salary']])

   id     dept  age  salary
6   7  Finance   36   89735
7   8       IT   40   86101
0   1       HR   56   77191

### **Answer to the Q10**

In [ ]:
df.loc[df['salary'] > 80000, 'salary'] = 80000
new_avg_salary = df['salary'].mean()

print("New average salary after replacement:", new_avg_salary)

New average salary after replacement: 55863.3